$color-verde-trans: #3f8d88e4 ;
$color-verde: #3F8D88;
$color-azul: #044b9be4;
$color-blanco: #FCFCFC;
$verde-oscuro: #2a5b59;
$color-amarillo: #E9D485;
$verde-claro: #83C5BE;
$verde-inaviitado: #d8eeeb;
$color-titulos: #325158;
$alto-bajo-tras: 535px;
$abajo: 1;
$arriba: 2;
$largo-boton: 13px;
$ancho-boton: 40px;
$estilo-bold: bold ;
$altura-vimi: 960px;
