@import'../bootstrap-5.3.2/scss/bootstrap.scss';
@import'../sass/variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@400;600;700&family=Roboto&display=swap');

h1{font-size: 52px; font-style: bolder;}
h2{font-size: 40px; font-style: medium;}
h3{font-size: 35px; font-style: normal;}
h4{font-size: 25px;}
h5{font-size: 20px ;}
p{font-size: 16px; font-style: light;}

body{
    background-color: $color-blanco;
    font-family: 'Roboto', sans-serif; ;
}
.navbar-container{
    background-image: url(../img/portada-colegio.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.navbar {
    background-color: #535353bf; 
    padding: 0;

}
.btn{
    background-color: $color-verde;
    color: $color-amarillo;
    border-radius: 10px;
    border: none;
    padding: 13px $ancho-boton;
    &:hover{
      color: $verde-oscuro !important;
      background-color: $verde-inaviitado;
    }

}
.titulo-page{
    height: 758px;
}
.header-nav{
    margin-right: 190px;

}
.space{
    gap: 110px;
}
.nav-link{
    color: $color-blanco;
    &:hover{
        color: $verde-claro !important; 
}
}
.active{
    color: $verde-claro !important;
    font-style: $estilo-bold;
}
.nav-links{
    text-decoration: none;
    color: black;
    font-size: 22px;
    margin-right: 30px; 
}
.video-liceo{
    position: relative;
    padding-bottom: 50.625%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin: 20px auto;
    max-width: 100%;
}

.uno{
    background-image: url(../img/mi.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    height: $altura-vimi;
    width: 50%;
    
}
.dos{
    background-image: url(../img/vi.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    height: $altura-vimi;
    width: 50%;
}
.tras-color{
    background-color: $color-verde;
    width: $alto-bajo-tras;
    height: $alto-bajo-tras;
    z-index: 1;
    margin: 30px;
}
.tras-img2{
    background-image: url(../img/me-1.png);
    width: $alto-bajo-tras;
    height: $alto-bajo-tras;
    z-index: 2;
    position: absolute;
}
.tras-img{
    background-image: url(../img/me-2.png);
    width: $alto-bajo-tras;
    height: $alto-bajo-tras;
    z-index: 2;
    position: absolute;
    
}
.tras-color2{
    background-color: $color-verde;
    width: $alto-bajo-tras;
    height: $alto-bajo-tras;
    z-index: 1;
    margin: -30px;
}
.tras-color3{
    background-color: $color-verde;
    width: 605px;
    height: 504px;
    z-index: 1;
    margin: 30px;
}
.imagen-admin{
    background-image: url(../img/imagen-admin.png);
    width: 605px;
    height: 504px;
    z-index: 2;
    position: absolute;
}
.banner{
    background-color: $color-amarillo;
    border-color: gray;

}
.desc{
    margin-left: 30%;
    margin-right: 10%;
    padding: 10px $ancho-boton;

}
.post{
    padding: $largo-boton $ancho-boton;
}
.table{
    width: 674px ;
    height:530px;
}
.btn-form{
    padding: $largo-boton 100px;
}
.mapa-ubi{
    height: 500px;
}

.fondo{
    background-color: $color-verde;
    color: $color-blanco;
}

.fondoverde{
    background-color: $color-verde-trans;
    color: $color-blanco;
    width: 65%;
    height: auto;
}
.fondoazul{
    background-color: #044b9be4;
    color: $color-blanco;
    width: 65%;
    height: auto;
}

.fondotwo{
    background-color: #0F2424;
    color: $color-blanco;
}
.bajo{
    text-decoration: none;
    color: $color-blanco;

}
footer{
    margin-top: 200px;
}

footer ul li {
    list-style: none;
}





//  //


//  //



.titulonoticia h2 {
    color: $color-titulos;
    font-weight: 900;
    margin-top: 100px;
    margin-bottom: 20px;
  }
  
  .cards-noticias {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
    margin-top: 30px;
  }
  
    .card {
      width: 25rem;
      background-color: $color-blanco;
      border-color: #0f2424;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      border-top-left-radius: 21px;
      border-top-right-radius: 21px;
    }
  
    .card h3 {
      font-weight: 900;
    }
  
    .card h3,
    h6 {
      color: #325158;
    }
  
    .card img {
      width: auto;
      height: 230px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  
    .card p {
      margin-top: 2%;
      color: $color-titulos;
    }
  
    .tablinks{
      background-color: $color-titulos;
      color: #ffffff;
      border-radius: 0;
      font-weight: 600;
      border-radius: 10px;
      border-color: $color-titulos;
    }
  
  .paginador {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  
  .pagination {
    .page-link {
      color: #707070;
      background-color: #fff;
      border-color:  $verde-oscuro;
  
      &:hover {
        color: #fff;
        background-color: $verde-oscuro;
        border-color: $verde-oscuro;
      }
  
      &.active,
      &:focus {
        color: #fff;
        background-color: $verde-oscuro;
        border-color: $verde-oscuro;
      }
    }
  }
  
  .directiva h2 {
    display: flex;
    justify-content: center;
    color: $color-titulos;
    font-weight: 900;
    margin-bottom: 40px;
    margin-top: 50px;
  }
  
  .profesores {
    margin-top: 50px;
    color: $color-titulos;
    font-weight: 900;
    display: flex;
    justify-content: center;
  }
  
  .container-navtab {
    display: flex;
    margin-top: 100px;
    margin-left: 15%;
  }
  
  .nav {
    width: 20%;
  }
  
  .tablinks {
    display: block;
    width: 100%;
    padding: 8px 16px;
    text-align: left;
    border: none;
    background-color: #d8eeeb;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    color: #000;
  }
  
  .tablinks:hover {
    background-color: #223f3e;
    color: white;
  }
  
  .tabcontent {
    display: none;
    padding: 20px;
  }
  
  .tabcontent.active {
    display: block;
  }
  
  .tabcontent img {
    width: 400px;
    margin-top: 10px;
  }
  
  .btn.tablinks.active {
    background-color: $verde-oscuro;
    color: white;
  }
  
  .img-fluid{
    max-width: 100%;
    height: auto;
  }
